.snakemake/*
snakemake/sfss
snakemake/prediction
bin/*
test.ipynb
snakemake/combined_demes_ci_end_time.csv
snakemake/combined_demes_ci.png
snakemake/combined_demes.png
snakemake/combined_demes.png
snakemake/combined_demes.yml
.vscode/launch.json
test.py
out/
runs.txt
snakemake/Africa_1T12.yaml
snakemake/combined_demes.png
snakemake/combined_demes.yml
plot_sfs.ipynb
results/
to_send/